<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	</head>
	<body>
		<p id="P" class="text-multi-ellipsis" style="height:60px;" data-tooltip="text-multi-ellipsis">
			弘扬“上海精神”，加强团结协作。我们要坚持互信、互利、平等、协商、尊重多样文明、
			<!--谋求共同发展，要深化团结互信，加大相互支持，把扩员带来的潜力和机遇转化为更多实实在在的合作成果。

　　——2018年6月10日，习近平主持上海合作组织青岛峰会小范围会谈

　　我们要继续在“上海精神”指引下，同舟共济，精诚合作，齐心协力构建上海合作组织命运共同体
，推动建设新型国际关系，携手迈向持久和平、普遍安全、共同繁荣、开放包容、清洁美丽的世界。-->

　　——2018年6月10日，习近平在上海合作组织成员国元首理事会第十八次会议上的讲话
		</p>
		<div class="table-responsive">
			<table class="table table-borderd table-bg">
				<thead>
				    <tr>
				      <th>Zero</th>
				      <th>First</th>
				      <th>Last</th>
				      <th>Handle</th>
				    </tr>
				</thead>
				<tbody>
					<%for(var i=0;i<10;i++){%>
				    <tr>
				      <td data-label="Zero:" data-tooltip='this is a tooltip'><%=i+1%></td>
				      <td data-label="First:">Mark</td>
				      <td data-label="Last:">Otto</td>
				      <td data-label="Handle:">@mdo</td>
				    </tr>
				    <%}%>
				</tbody>
			</table>
		</div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			console.log(9.95*100)
			console.log(accMul(9.95,100))
			var lists = document.getElementsByClassName('text-multi-ellipsis');
			for(item of lists){
				console.log(item);
				let h = item.style.height;
				console.log(h);
			}
			$(".text-multi-ellipsis").each(function(i,e){
				console.log('height',$(e).height());
				console.log('maxheight',Number($(e).css('max-height').replace('px','')));
			})
			function accMul(arg1, arg2) {
			    var m = 0, s1 = arg1.toString(), s2 = arg2.toString();
			    try {
			        m += s1.split(".")[1].length;
			    }
			    catch (e) {
			    }
			    try {
			        m += s2.split(".")[1].length;
			    }
			    catch (e) {
			    }
			    return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m);
			}
			console.log(accMul(9.95,100))
			
		</script>
	</body>
</html>
